<%- include("partials/header.ejs") %>
<h1 id="user-name"></h1>
<main onclick="hideSideBar()">
           

    <img src="/images/news_images/entrance_exam.jpg" alt="web 3 hero image" class="hero-pic slide-right">

    <section class="side-article">
        <!-- 
        TODO: Content here will be load dynamically, from json data 
        -->
        <h2 class="special-text">New</h2>
        <article>

            <h3 class="slide-up"><a href=""><%= highOne.title %></a></h3>
            <p>
                <%= highOnePost %>
             
                <small><a href="#moreNews">read more</a></small>
            </p>

            
        </article>
        <!-- line -->
        <hr>
        <article>
            <h3 class="slide-left"><a href=""><%= highTwo.title %></a></h3>
            <p>
                <%= highTwoPost%>

                <small><a href="#moreNews">read more</a></small>
            </p>
        </article>
        <!-- line -->
        <hr>
        <article>
            <h3 class="slide-right"><a href=""><%= highThree.title%></a></h3>
            <p>
                <%= highThreePost %>
                 <small><a href="#moreNews">read more</a></small>
            </p>

        </article>
    </section>

    <div class="web-gen">
        <h1 class="main-title">1st Semester 2025/2026</h1>
        <article class="info-text">  
            Final Exams on course
            hats off to the Team
            Administration, Academic Quality Assurance Committee and Lecturers.
            <button class="read-more"><a href="https://www.facebook.com/share/p/1Atnj9kx3u/" target="_blank">Read more</a></button>
        </article>
    </div>


</main>

<section class="special-info">
    <article>
        <img src="/images/news_images/sug_prezo.jpg" alt="Fabius A. McCormack" class="small-size-img">
        <h2 class="nums">Fabius A. McCormack</h2>
        <small>January 1, 2026</small>
      
        <p>
            Grand Bassa University SUG President
            Fabius A. McCormack wins
            Bassa Youth Caucus Election! ......
          
        </p>
        <h3><a href="https://www.facebook.com/share/p/16xT4gXY4e/">Read More</a></h3>
    </article>
    <article>
        <img src="/images/news_images/congrat.jpg" alt="Matthew Gborzeo" class="small-size-img" width="325px" height="175px" >
        <h2 class="nums">Congratulations!</h2>
        <small>December 27, 2025</small>
    
        <p>
            To our
            Facility Manager
            Mr. Matthew Gborzeo
        </p>
        <h3><a href="https://www.facebook.com/share/p/1BgYN6VVE8/">Read More</a></h3>
    </article>
    <article>
        <img src="/images/news_images/gbu_prezo.jpg" alt="University President" class="small-size-img">
        <h2 class="nums">Season greetings</h2>
        <small>December 24, 2026</small>
    
        <p>
        Faculty, Staff and Students of
        Grand Bassa University ,
        Season’s greetings to you all.
        As we celebrate this blessed Christmas season, I extend heartfelt greetings and sincere appreciation to each of you for
        your dedication, sacrifice, and commitment to the mission of Grand Bassa University throughout .....
    
        </p>
        <h3><a href="">Read More</a></h3>
    </article>
</section>

    <% data.forEach(post => { %>
    <section class="moreNews">

       

        <h2 class="author" id="moreNews" >
          Author:  <%= post.author %> 

            <small class="postid"> Post ID:
                <%= post.id %>
            </small>
           
        </h2> 
       
        
        
        <p class="post-title">
           <em class="special-text">Title:</em> <%= post.title %>
        </p>

       
        <p class="post"> 
            <%= post.post %>
        
        </p>
        <p class="post-date slide-left">
            Posted On <%= post.date %>
        
        </p>

        <div class="post-img-block">
            <img src="<%= post.picture %> " alt="<%= post.title %>" class="post-img slide-up" >
        </div>

        


        </section>
    <%}); %>
       




<%- include("partials/footer.ejs") %>