<%- include("partials/header.ejs") %>

<main onclick="hideSideBar()">

    <img src="/images/news_images/entrance_exam.jpg" alt="web 3 hero image" class="hero-pic">

    <section class="side-article">
        <h2 class="special-text">New</h2>
        <article>
            <h3><a href="">Hydrogen VS Electric Cars</a></h3>
            <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
        </article>
        <!-- line -->
        <hr>
        <article>
            <h3><a href="">The Downsides of AI Artistry</a></h3>
            <p>
                What are the possible adverse effects of on-demand AI image generation?
            </p>
        </article>
        <!-- line -->
        <hr>
        <article>
            <h3><a href="">Is VC Funding Drying Up?</a></h3>
            <p>
                Private funding by VC firms is down 50% YOY. We take a look at what that means.
            </p>
        </article>
    </section>

    <div class="web-gen">
        <h1 class="main-title">1st Semester 2025/2026</h1>
        <article class="info-text">  
            Final Exams on course
            hats off to the Team
            Administration, Academic Quality Assurance Committee and Lecturers.
            <button class="read-more"><a href="https://www.facebook.com/share/p/1Atnj9kx3u/" target="_blank">Read more</a></button>
        </article>
    </div>


</main>

<section class="special-info">
    <article>
        <img src="/images/news_images/sug_prezo.jpg" alt="Retro PC" class="small-size-img">
        <h2 class="nums">Fabius A. McCormack</h2>
        <small>January 1, 2026</small>
      
        <p>
            Grand Bassa University SUG President
            Fabius A. McCormack wins
            Bassa Youth Caucus Election! ......
          
        </p>
        <h3><a href="">Read More</a></h3>
    </article>
    <article>
        <img src="/images/news_images/sug_prezo.jpg" alt="Retro PC" class="small-size-img">
        <h2 class="nums">Fabius A. McCormack</h2>
        <small>January 1, 2026</small>
    
        <p>
            Grand Bassa University SUG President
            Fabius A. McCormack wins
            Bassa Youth Caucus Election! ......
    
        </p>
        <h3><a href="">Read More</a></h3>
    </article>
    <article>
        <img src="/images/news_images/sug_prezo.jpg" alt="Retro PC" class="small-size-img">
        <h2 class="nums">Fabius A. McCormack</h2>
        <small>January 1, 2026</small>
    
        <p>
            Grand Bassa University SUG President
            Fabius A. McCormack wins
            Bassa Youth Caucus Election! ......
    
        </p>
        <h3><a href="">Read More</a></h3>
    </article>
</section>

    <% data.forEach(post => { %>
    <section class="moreNews">
        <h2 class="nums">
            <%= post.author %>
        </h2>
        <small>
            <%= post.id %>
        </small>
        <div>
            <!-- <%= post.picture %> -->
        </div>
        <p>
            <%= post.post %>
        
        </p>

        </section>
    <%}); %>
       

<div class="attribution">
   
    Coded by <a href="https://github.com/Sayon-okai">Sayon Teah Okai</a>.
</div>


<%- include("partials/footer.ejs") %>